<ion-header>
  <ion-navbar>
    <ion-title>
      <img src="images/pokeball.png" alt="" style="width: 18px;height: 18px;vertical-align: middle;" />
      <strong>Ionic 2 Pokedex</strong>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <loader *ngIf="!pokemonList.length" text="Loading Pokedex..."></loader>
  <div *ngIf="pokemonList.length">
    <ion-searchbar [(ngModel)]="searchQuery"></ion-searchbar>

    <ion-list>
      <a ion-item
       *ngFor="let pokemon of getPokemons() ; let i = index"
       href="#"
       (click)="goToPokemonDetail(pokemon)">
       <ion-avatar item-left>
          <img
            [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + (i+1) + '.png'"
          >
        </ion-avatar>

        <h2>{{ pokemon.name | capitalize }}</h2>

      </a>
    </ion-list>
  </div>
</ion-content>
