<ion-header>
  <ion-navbar>
    <ion-title>
      <strong *ngIf="pokemon">{{ pokemon.name | capitalize }}</strong>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="pokemon">

    <pokemon-detail-moves
      [pokemon]="pokemon"
      [moves]="moves">
    </pokemon-detail-moves>


    <img class="pokemon-image"
         src="images/pokemons/{{ pokemon.name }}.jpg"
         alt="{{ pokemon.name }}">
    <br>


    <pokemon-detail-species [pokemon]="pokemon"></pokemon-detail-species>

    <pokemon-detail-abilities [pokemon]="pokemon"></pokemon-detail-abilities>

    <pokemon-detail-stats [pokemon]="pokemon"></pokemon-detail-stats>

    <pokemon-detail-evolution [pokemon]="pokemon"></pokemon-detail-evolution>

    <pokemon-detail-sprites [pokemon]="pokemon"></pokemon-detail-sprites>

  </div>
</ion-content>
