$pokemon-number-backoung-color: #FF6666;
$pokemon-number-border: red;

.pokemon-header {
  border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 10px;
}

.pokemon-number {
  background: $pokemon-number-backoung-color;
  border: 1px solid $pokemon-number-border;
  border-radius: 5px;
  color: $label-color;
  display: inline-block;
  padding: 5px 10px;
  vertical-align: top;
}

.pokemon-image {
  padding-top: 15px;
  width: 180px;
  height: 190px;
  margin: 0px auto;
  display: block;
}

.pokemon-image-container {
  position: relative;
  width: 100%;
  //max-width: 980px;
}

$arrow-color: #000;
$arrow-border-size: 15px solid;
$arrow-border-bottom-top: $arrow-border-size transparent;
$arrow-border: $arrow-border-size $arrow-color;

.arrow {
  width: 0;
  height: 0;
  border-top: $arrow-border-bottom-top;
  border-bottom: $arrow-border-bottom-top;
  position: absolute;
}

.arrow-right {
  margin-top: -105px;
  border-left: $arrow-border;
  right: 0;
}

.arrow-left {
  margin-top: 87px;
  border-right: $arrow-border;
  left: 0;
}

.types {
    display: flex;
    flex-wrap: wrap;
		padding-top: 10px;
    margin-bottom: 30px;
		text-align: center;
    div {
      flex: 1;
      text-align: center;
      color: #777;
    }
}

.type-effectiveness {
    display: flex;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;

    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -webkit-box-flex-wrap: wrap;

    flex-direction: row;
    -webkit-flex-flex-direction: row;
    -webkit-box-flex-flex-direction: row;

    padding-top: 10px;
    margin-bottom: 10px;
		text-align: center;
    div {
      -webkit-box-flex: 1 0 auto;      /* OLD - iOS 6-, Safari 3.1-6 */
      -moz-box-flex: 1;         /* OLD - Firefox 19- */
      width: 20%;               /* For old syntax, otherwise collapses. */
      -webkit-flex: 1 0 auto;          /* Chrome */
      -ms-flex: 1;              /* IE 10 */
      flex: 1 0 auto;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */

      margin-bottom: 10px;
      text-align: center;
      color: #777;
      font-size: 14px;
    }
}

.ability {
    background: #f4d34b;
    border: 1px solid #cea70c;
    margin-bottom: 10px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.25);
}

.stats {
  display: flex;
  margin-bottom: 30px;
  div {
    flex: 1;
    text-align: center;
    color: #777;
  }
  h3 {
    color: #000;
    margin: 0;
  }
}

.container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
