<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <strong *ngIf="pokemon">{{ pokemon.name | capitalize }}</strong>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="pokemon">

    <div class="pokemon-image-container">
      <a class="arrow arrow-left" role="button" (click)="goToPreviousPokemon()"></a>
      <img class="pokemon-image"
           src="{{ imgBaseUrl }}{{ pokemon.id }}.png"
           alt="{{ pokemon.name }}">
      <a class="arrow arrow-right" role="button" (click)="goToNextPokemon()"></a>
    </div>

      <br>

    <pokemon-detail-species [pokemon]="pokemon"></pokemon-detail-species>

    <pokemon-detail-abilities [pokemon]="pokemon"></pokemon-detail-abilities>

    <pokemon-detail-stats [pokemon]="pokemon"></pokemon-detail-stats>

    <pokemon-detail-evolution [pokemon]="pokemon"></pokemon-detail-evolution>

    <pokemon-detail-sprites [pokemon]="pokemon"></pokemon-detail-sprites>

    <pokemon-detail-moves [pokemon]="pokemon"></pokemon-detail-moves>
  </div>
</ion-content>
