<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <strong>Pokémon Types {{types.length}}</strong>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <loader *ngIf="!types.length" text="Loading Pokémon Types..."></loader>
  <div *ngIf="types.length">
    <ion-grid>
        <ion-row wrap>
          <ion-col width-33 *ngFor="let type of types">
            <span class="label-fixed-width {{ type.name | lowercase }}"
              style="font-size:12px;">
              {{ type.name | capitalize }}
            </span>
          </ion-col>
        </ion-row>
    </ion-grid>
  </div>
</ion-content>
