.evolution {
  width: 130px;
  height: 155px;
  margin-top: 10px;
  border-radius: 5px;
  color: black;

  img {
    width: 100%;
    height: 110px;
    border-radius: 5px;
    background-color: #FFFFFF;
  }

  .level {
    height: 15px;
    margin-top: 5px;
    margin-top: 3px;
    //font-weight: bold;
    font-size: 1em;
    text-align: center;
  }
}
