.sprites {
  width: 80px;
  height: 80px;
  margin-top: -8px;
  margin-bottom: 10px;
  color: black;

  img {
    width: 100%;
    height: 80px;
  }

  .desc {
    margin-top: -10px;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
  }
}
