.progress {
  height: 25px;
}

.hp {
  background: #FF5959;
}

.atk {
  background: #F5AC78;
}

.def {
  background: #FAE078;
}

.spa {
  background: #9DB7F5;
}

.spd {
  background: #A7DB8D;
}

.spe {
  background: #FA92B2;
}
