<ion-list inset>
  <ion-item class="pokemon-header">
    <h2><strong>{{ pokemon.name | capitalize }}</strong></h2>
    <p *ngIf="getSpeciesName()">{{ getSpeciesName() }} Pokémon</p>
    <div item-right class="pokemon-number">
      <strong>#{{ pokemon.order | pokeNumber }}</strong>
    </div>
  </ion-item>
</ion-list>

<div class="types">
  <div *ngFor="let type of pokemon.types">
    <h3 class="label {{ type.type.name | lowercase }}">
    {{ type.type.name | capitalize }}
    </h3>
  </div>
</div>

<p *ngIf="speciesDetails"
  style="padding-left:15px;padding-right:15px;">
  {{ getDescription() }}
</p>

<ion-toolbar no-border-top>
  <ion-segment [(ngModel)]="tab">
    <ion-segment-button value="pokedex">
      Pokédex
    </ion-segment-button>
    <ion-segment-button value="typeEffectiveness">
      Type Effectiveness
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>

<div [ngSwitch]="tab">
<ion-list *ngSwitchCase="'pokedex'">

  <ion-list-header>Pokédex, Training and Breeding</ion-list-header>

  <ion-item><strong>Height: </strong>{{ getHeight() }} m</ion-item>
  <ion-item><strong>Weight: </strong>{{ getWeight() }} kg</ion-item>
  <ion-item><strong>Base EXP: </strong>{{ pokemon.base_experience }}</ion-item>

  <div *ngIf="speciesDetails">
    <ion-item><strong>Catch rate: </strong>{{ speciesDetails.capture_rate }}</ion-item>
    <ion-item><strong>Base Happiness: </strong>{{ speciesDetails.base_happiness }}</ion-item>
    <ion-item><strong>Growth Rate: </strong>{{ speciesDetails.growth_rate.name }}</ion-item>

    <ion-item><strong>Egg Groups: </strong>
      <span *ngFor="let egg of speciesDetails.egg_groups">
        {{ egg.name | capitalize }}
      </span>
    </ion-item>
    <ion-item><strong>Gender: </strong>{{ getGender() }}</ion-item>

  </div>

</ion-list>

<pokemon-detail-type-effectiveness *ngSwitchCase="'typeEffectiveness'"
  [pokemon]="pokemon" [types]="types">
</pokemon-detail-type-effectiveness>
