<ion-row center class="{{ pokemon.types[0]?.type.name }}-evolution">
  <ion-col width-35 class="levelup-header">Move</ion-col>
  <ion-col width-25 class="levelup-header-tc">Type</ion-col>
  <ion-col width-25 class="levelup-header-tc">Category</ion-col>
  <!--ion-col width-10><strong>Pow</strong></ion-col-->
  <!--ion-col width-10><strong>Acc</strong></ion-col-->
</ion-row>
<div *ngFor="let move of list">
  <pokemon-detail-move-detail-row
    [move]="move"
    [levelUp]="levelUp"
  >
  </pokemon-detail-move-detail-row>
</div>
