<div>
  <ion-list>
    <ion-list-header>Moves</ion-list-header>
  </ion-list>
  <div padding>
    <ion-segment [(ngModel)]="move">
        <ion-segment-button value="levelUp" [disabled]="!levelUp.length">
          Level Up
        </ion-segment-button>
        <ion-segment-button value="tm" [disabled]="!tm.length">
          TM / HM
        </ion-segment-button>
        <ion-segment-button value="egg" [disabled]="!egg.length">
          Egg
        </ion-segment-button>
        <ion-segment-button value="tutor" [disabled]="!tutor.length">
          Tutor
        </ion-segment-button>
        <ion-segment-button value="transfer" [disabled]="!transfer.length">
          Transfer
        </ion-segment-button>
        <ion-segment-button value="other" [disabled]="!other.length">
          Other
        </ion-segment-button>
      </ion-segment>
    </div>

    <div [ngSwitch]="move">

      <ion-list *ngSwitchCase="'levelUp'">
        <pokemon-detail-move-detail [list]="levelUp"></pokemon-detail-move-detail>
      </ion-list>

      <ion-list *ngSwitchCase="'egg'">
        <pokemon-detail-move-detail [list]="egg"></pokemon-detail-move-detail>
      </ion-list>

      <ion-list *ngSwitchCase="'tm'">
        <pokemon-detail-move-detail [list]="tm"></pokemon-detail-move-detail>
      </ion-list>

      <ion-list *ngSwitchCase="'tutor'">
        <pokemon-detail-move-detail [list]="tutor"></pokemon-detail-move-detail>
      </ion-list>

    </div>
</div>
