<ion-row center style="background-color:#A7DB8D">
  <ion-col width-35><strong>Move</strong></ion-col>
  <ion-col width-20><strong>Type</strong></ion-col>
  <ion-col width-20><strong>Cat</strong></ion-col>
  <ion-col width-10><strong>Pow</strong></ion-col>
  <!--ion-col width-10><strong>Acc</strong></ion-col-->
</ion-row>
<div *ngFor="let move of list">
  <pokemon-detail-move-detail-row
    [move]="move"
    [moveDetails]="getMoveDetails(move)"
    [levelUp]="levelUp"
  >
  </pokemon-detail-move-detail-row>
</div>
