<pokemon-detail-type-effectiveness-row
  text="Double damage from:"
  [list]="doubleDamageFrom"
>
</pokemon-detail-type-effectiveness-row>

<pokemon-detail-type-effectiveness-row
  text="Half damage from:"
  [list]="halfDamageFrom"
>
</pokemon-detail-type-effectiveness-row>

<pokemon-detail-type-effectiveness-row
  text="No damage from:"
  [list]="noDamageFrom"
>
</pokemon-detail-type-effectiveness-row>

<pokemon-detail-type-effectiveness-row
  text="Double damage to:"
  [list]="doubleDamageTo"
>
</pokemon-detail-type-effectiveness-row>

<pokemon-detail-type-effectiveness-row
  text="Half damage to:"
  [list]="halfDamageTo"
>
</pokemon-detail-type-effectiveness-row>

<pokemon-detail-type-effectiveness-row
  text="No damage to:"
  [list]="noDamageTo"
>
</pokemon-detail-type-effectiveness-row>
