<div>
  <ion-list>
    <ion-list-header>Base Stats</ion-list-header>
    <ion-item>
      <strong>HP:&nbsp;&nbsp;</strong>
      {{ hp.base_stat }}
    </ion-item>

    <ion-item>
      <strong>ATK:</strong>
      {{ atk.base_stat }}
    </ion-item>

    <ion-item>
      <strong>DEF:</strong>
      {{ def.base_stat }}
    </ion-item>

    <ion-item>
      <strong>SPA:</strong>
      {{ spa.base_stat }}
    </ion-item>

    <ion-item>
      <strong>SPD:</strong>
      {{ spd.base_stat }}
    </ion-item>

    <ion-item>
      <strong>SPE:</strong>
      {{ spe.base_stat }}
    </ion-item>

    <ion-item>
      <strong>TOTAL:</strong>
      {{ total }}
    </ion-item>
  </ion-list>
</div>
